<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>map_app</title>
    <%= stylesheet_link_tag 'posts', media: 'all' %>
</head>
<body>
    <div class="pagination">
        <%= page_entries_info @posts %>
        <%= paginate @posts %>
    </div>
    
    <div class="page-container">               
        <%= form_tag({controller: "posts", action: "index"}, method: :get) do %>
            <div class="search-form"> 
                <h3>投稿を検索</h3>
                <%= text_field_tag :search, params[:search], placeholder: "ライブ会場を検索" %>
                かかる料金
                <%= select_tag :searchfee, options_for_select([["", ""], ["無料", "無料"], ["~1000円", "~1000円"], ["1000円~", "1000円~"]], params[:searchfee]) %>
                滞在時間目安
                <%= select_tag :searchstaytime, options_for_select([["", ""], ["~30分", "~30分"], ["~1時間", "~1時間"], ["1時間~", "1時間~"]], params[:searchstaytime]) %>
                屋根の有無
                <%= select_tag :searchroof, options_for_select([["", ""], ["あり", "あり"], ["なし", "なし"]], params[:searchroof]) %>
                会場までの時間
                <%= select_tag :times, options_for_select([["", ""], ["~5分", "~5分"], ["~10分", "~10分"], ["10分~", "10分~"]], params[:times]) %>

                <%= submit_tag 'ライブ会場を検索する' %>
            </div>
        <% end %>
        

        <div class="posts-container">
            <% @posts.each do |t| %>
                <div class="post">
                    <% if t.image? %>
                        <%= image_tag t.image_url, size: "250x200" %>
                    <% end %>
                    <div class="post-content">
                        <div><strong>ライブ会場:</strong> <%= t.live %></div>
                        <div><strong>休憩場所名:</strong> <%= t.name %></div>
                        
                        <div><strong>料金:</strong> <%= t.fees %></div>
                        <div><strong>滞在時間目安:</strong> <%= t.staytime %></div>
                        <div><strong>屋根の有無:</strong> <%= t.roof %></div>
                        <div><strong>会場までの時間:</strong> <%= t.times %></div>
                        <div><strong>コメント:</strong> <%= t.comment2 %></div>
                        
                        <div class="actions">
                            <% if user_signed_in? %>
                                <% if current_user.already_liked?(t) %>
                                    <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
                                        <i class="fas fa-heart"></i><%= t.likes.count %>
                                    <% end %>
                                <% else %>
                                    <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
                                        <i class="far fa-heart"></i><%= t.likes.count %>
                                    <% end %>
                                <% end %>
                            <% else %>
                                <i class="far fa-heart"></i><%= t.likes.count %>
                            <% end %>
                            <%= link_to "詳細へ", post_path(t.id), class: "detail-button" %>

                            <% if user_signed_in? && current_user.id == t.user_id %>
                                <%= link_to "編集する", edit_post_path(t.id), class: "edit-button" %>
                                <%= link_to '削除する', delete_post_path(t.id), data: { confirm: 'Are you sure?' } %>
                            <% end %> 
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    

    <div class="pagination">
        <%= page_entries_info @posts %>
        <%= paginate @posts %>
    </div>


</body>
</html>
